[submodule "lib/markdown_widget/flutter_svg"]
	path = lib/markdown_widget/flutter_svg
	url = https://github.com/Midnight-Neon/flutter_svg
[submodule "lib/tflite_flutter_helper"]
	path = lib/tflite_flutter_helper
	url = https://github.com/Midnight-Neon/tflite_flutter_helper
[submodule "lib/Storage-SDK-Flutter"]
	path = lib/Storage-SDK-Flutter
	url = https://github.com/Midnight-Neon/Storage-SDK-Flutter
